*{
    font-size: 30px;
    background-color: blue;
    margin: 30px;
    padding: 30px;
}
div{
    background-color: blueviolet;
}
#id1{
    background-color: red;
}
#id2{
    background-color: green;
}
#id3{
    background-color: yellow;
}
.cls1{
    background-color: gold;
}
.cls2{
    background-color: darkorange;
}
#id1{
    background-color: crimson;           /*latter one takes effect*/
}